/* Estilos para los inputs de solo lectura */
.input-readonly {
  background-color: #f3f4f6 !important;
  cursor: default !important;
  color: #111827 !important;
  border: 1px solid #e5e7eb !important;
}

.input-readonly:focus {
  outline: none !important;
  border-color: #e5e7eb !important;
  box-shadow: none !important;
}

